.login-container {
    height: 100vh;
    background-color: #ffffff;
}

.login-form {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.logo {
    font-size: 1.8rem;
}
